.todoListMain .header input {
    padding: 13px;
    font-size: 16px;
    border: 2px solid maroon;
    width: 180px;
}

.todoListMain .header button {
    padding: 13px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: gray;
    color: black;
    border: 2px solid maroon;
}

.todoListMain .header button:hover {
    background-color: rgb(231, 156, 16);
    border: 2px solid wheat;
    cursor: pointer;
}

.todoListMain .theList li {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 27, 41);
    padding: 15px;
    margin-bottom: 15px;
    border:2px solid whitesmoke;
    border-radius: 10px;
    list-style: none;


}

ul.theList {
    padding: 0px;

}

h3.headingClass {
    text-align: center;
    color: rgb(172, 165, 165);
}

